{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text">This blog is about artificial Intelligence, machine learning, data science,AR & VR,blockchain and recent technology updates </p>
      <a href="https://github.com/Hem7513" class="btn btn-danger">Visit Git Hub!</a>
      <a href="https://twitter.com/HBG753" class="btn btn-secondary">Visit LinkedIN</a>
    </div>
  </div>
</div>

{% endblock sidebar %}